html {
    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

    input:focus {
        outline: none;
    }

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

footer {
    border: 2px solid #333; /* Adds a solid border */
    margin-top: auto; /* Pushes the footer to stick to the bottom */
    width: 100%; /* Ensures it spans the width of your 500px container */
    padding: 10px; 
    box-sizing: border-box; 
    background-color: #f4f4f4; /* Optional: adds a slight background to separate it */
}

.remove {
    padding-bottom: 5px;
}